.bzr
.bzrignore
*~
build
dist
harmonyseq
harmonySEQ
*.o
Makefile
stamp-h1
autoscan.log
config.log
examples/Makefile
autom4te.cache

depcomp
missing
install-sh

Makefile.in
configure
aclocal.m4
ABOUT-NLS

config.guess
config.rpath
config.sub

.deps
.dep.inc
m4
autom4te.cache
