[Desktop Entry]
Name=harmonySEQ
Name[pl]=harmonySEQ
Comment=MIDI sequencer
Comment[pl]=Sekwencer MIDI
Exec=harmonySEQ %f
Terminal=false
Type=Application
Categories=GTK;GNOME;AudioVideo;Midi;Sequencer;
MimeType=text/x-harmonyseq
