/* This is useful for testing theme compatibility. */

/*
* {
   all: unset;
}
*/


#mainwindow * {
  /* border-radius: unset; */
  /* -gtk-outline-radius: unset; */
  box-shadow: unset;
  -gtk-dpi: 77.7;
}

spinbutton, button {
    /* min-height: 1.8em; */
    min-height : unset;
}
button {
    /* min-height: 1.2em; */
    min-height : unset;
}
combobox button {
    padding: 2px;
}
.view button {
    min-height: 0rem;
}
entry {
    min-height: 1.2rem;
}
entry.cell {
    min-height: 0;
}


/* Tighter spinbuttons */
spinbutton entry{
	min-width: unset;
}
spinbutton entry {
	padding: 2px
}
spinbutton button {
	padding: 2px;
	border-width: 0px;
}

/* Fixed-width play-pause button. */
/* Ideally we would ensire constant width with a GtkNotebook... seriously though?! */
toolbutton#PlayPauseTool button {
    min-width: 60px;
}

spinbutton#tempo.lit {
    background-color: #2222cc;
    background-image: unset;
    transition: 200ms;
}
spinbutton#tempo.lit entry {
    background-color: #2222cc;
    transition: 200ms;
    background-image: unset;
}

separator {
  min-width: 1px;
  min-height: 1px;
  background-color: unset;
}

eventbox.seq-on {
    background-color: #00ff00;
}
checkbutton.seq-on {
    background-color: #00cd00;
}

eventbox.seq-once {
    background-color: #ffff00;
}
checkbutton.seq-once {
    background-color: #eeee00;
}

eventbox.seq-oncepre {
    background-color: #ffd700;
}
checkbutton.seq-oncepre {
    background-color: #eec900;
}
